@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Fondamento&family=Roboto:wght@400;500&family=Source+Sans+Pro&display=swap');
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-marg{
  margin-top: 18rem;
}
.top-marg-signup{
  margin-top: 12rem;
}
.hide-feature{
  display: none;
}
@media screen and (max-width: 900px) {
  .top-marg, .top-marg-signup{
    margin-top: 4rem;
  }
}
